.form{
    &__label{
        position: relative;
    }
    &__label-text{
        position: absolute;
        font-size: 12px;
        top: 5px;
        left: 15px;
        width: 280px;
        color: #A0A0A0;
        transition: all .3s ease;
        &--textarea{
            top: -70px;
        }
    }
    &__item{
        outline: none;
        width: 100%;
        padding: 10px;
        border-radius: 15px;
        border: none;
        border-top: 2px solid transparent;
        background-color: #FAFAFF;
        font-size: $secondary-font;
        transition: border-top .7s ease;
        &:focus{
            border-top: 2px solid rgb(173, 173, 173);
        }
        &:focus + .form__label-text{
            transform: translateY(-27px);
            color: $primary-color;
            font-size: 10px;
        }    
        &:not(:placeholder-shown) +.form__label-text{
            transform: translateY(-27px);
            color: $primary-color;
            font-size: 10px;
        }
        &:focus + .form__label-text--textarea{
            transform: translateY(-73px);
        }
        &:not(:placeholder-shown) +.form__label-text--textarea{
            transform: translateY(-73px);
        }
    }
    &__input{
        margin-bottom: 20px;
    }
    &__textarea{
        resize: none;
    }
    &__btn{
        display: block;
        margin: 10px 0 0 auto;;
    }
}