.contact{
    padding: 20px;
    background-color: #FAFAFF;
    &__title{
        position: absolute;
        top: -30px;
        left: 5%;
        &--form-box{
            margin-bottom: 20px;
        }
    }
    &__sidebar{
        background-color: #FF9A3D;
        color: white;
    }
    &__info{
        display: none;
    }
    &__box{
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        max-width: 1240px;
        margin: 0 auto;
    }
    &__form-box{
        background-color: #FFFFFF;
        box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
        padding: 20px;
    }
    &__address-box{
        padding: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .breakLine{
        display: block;
        &--underline{
            text-decoration: underline;
        }
    }
    @media (min-width:830px){
        &__box{
            flex-direction: row;
        }
        &__form-box{
            flex-grow: 1;       
        }
        &__info{
            display: block;
        }
        &__message{
            max-width: 300px;
        }
        &__sidebar{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 500px;
            padding: 20px;
            &::after{
                content: "";
                position: absolute;
                top: 15px;
                right: -5px;
                width: 30px;
                height: 30px;
                background-color: #FF9A3D;
                transform: rotate(45deg);    
            }
        }
    }
}