.header{
    background-image: url("../../assets/pictures/header_bcg.jpg");
    background-size: cover;
    background-position: 50% 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    &__title{
        font-size: 3.5rem;
        color: $primary-color;
        font-weight: bold;
    }
    &__description{
        font-weight: bold;
        margin:10px 0 20px 0;
        color: white;
    }
    &__link{
        position: relative;
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: white;
        margin: 0 10px 0 10px;
        &--git{
            background-color: transparent;
        }
    }
    &__icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
        font-size: 30px;
        &--color{   
            font-size: 20px;
            color: $primary-color; 
        }
    }
    @media (min-width: 768px){
        margin-top: 80px;
        &__title{
            font-size: 4.25rem;
        }
        &__description{
           font-size: 1.4rem;
        }
    }
    @media (min-width:1400px) {
        margin-top: 80px;
        &__title{
            font-size: 6.25rem;
        }
        &__description{
           font-size: 2rem;
        }
    }
}