*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    font-family: $primary-font;
}
.container{
    background: linear-gradient(90deg, rgba(250,250,255,1) 66%, rgba(255,255,255,1) 66%);
    padding: 30px;
    margin: 35px 0;
    &--reverse{
        background: linear-gradient(90deg, rgba(255,255,255,1) 33%, rgba(250,250,255,1) 33%);
    }
    &-box{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    }
}
.list{
    list-style:none;
}
.link{
    text-decoration: none;
    color:black;
}