.sidebar{
    margin:0 auto;
    padding-top: 30px;
    font-size: 1.4rem;
    text-align: center;
    &__box{
        padding-bottom: 20px;
    }
    &__btn{
        margin:10px 20px;
        min-width: 142px;
    }
}